* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: Tahoma, serif;
}

.root {
    align-self: center;
    border-radius: 4px;
    border: 1px solid #cccccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px #cccccc
}

.panel {
    padding: 10px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: transparent;
    padding: 10px 15px;
    display: block;
    min-width: 160px;
}

.weather-panel {
    text-align: center;
    margin-bottom: 20px;
    min-height: 230px;
}

.cords {
    padding: 10px 15px;
    width: 160px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.weather-prop {
    padding: 4px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-prop span {
    display: block
}